body, html {
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding: 0;
}

nav{
    border-bottom: 2px solid #F0F0F0 ;
    padding-bottom: .5rem;
}

nav ul {
    list-style: none;
    padding:0;
}

nav ul li a {
    text-decoration: none;
    color:#2E2E57;
    font-weight: bold;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
}

nav ul li button{
    font-weight: bold;
    color: white;
    background-color: #355ADF;
    border: 0;
    padding: 10px;
    border-radius: .5em;
    margin-left:1rem;
}

/*-------------------Style logo-----------------------------*/

nav div:first-child h1{
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
}

nav div:first-child h1, nav ul{
   margin: 0;
}

/*-----------Style for larger devices-------------------------*/

@media only screen and (min-width: 30em){
    body{
        margin-left:10%;
        margin-right:10%;
    }
    nav{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    nav ul{
        display: flex;
        align-items: center;
        background-color: none;
        flex-wrap: wrap;
    }

    nav div:first-child h1{
        padding: 0;
        margin-left:0 1rem;
    }

    nav div:first-child img{
        height: 40px;
    }

    nav ul li{
        border-bottom: none;
        flex:1 0 auto;
        position: relative;
    }
    
    nav ul li a{
        padding: 1.2rem 1rem;
    }

    nav ul li a::before, nav ul li a::after{
        content: "";
        position: absolute;
        bottom:0;
        right:0;
        width: 0;
        height: 2px;
        background: white;
        transition: .2s width ease-in-out;
    }

    nav ul li a::before{
        left: 0;
    }

    nav ul li a:hover::after, nav ul li a:hover::after{
        width: 100%;
    }

    nav ul li button{
        margin-left:.5rem;
    }

}

.s-content{
    padding-top: 2rem;
    float:left;
}

.s-content div{
    width:18%;
    border: 1px solid #F0F0F0;
    padding: 1rem;
    float: left;
    margin-left:35px;
    height:30%;
}

.s-content div p{
    color:#2E2E57;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: block;
    line-height: 1;

}

.s-content div img{
    width: 100%;
}

.s-content div img hr{
    color: #F0F0F0;
}

.s-content div button{
    background-color: #355ADF;
    border: 0;
    padding: 10px;
    border-radius: .5em;
    margin-right: 1rem;
}

.s-content div button a{
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #2E2E57;
    font-weight: bold;
}